# Always active - satisfies Klippain-ShakeTune requirement
[resonance_tester]
accel_chip: adxl345
probe_points:
    113, 120, 20

# Always active - dummy chip so [resonance_tester] reference is always valid
[adxl345]
cs_pin: adxl:gpio1
spi_bus: spi0a

# Uncomment below ONLY when physically connected for input shaping
#[mcu adxl]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_E660D051131F6831-if00